<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- 1. 基礎網路權限 (Flutter Debug 模式與開網頁通常需要) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 2. 相簿讀取權限 (針對 Android 12 與更舊版本) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <!-- 3. [重要] 相簿讀取權限 (針對 Android 13+，沒加這個新手機會壞掉) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <!-- 4. 設定你的 App 允許查詢哪些外部應用程式 (給 url_launcher 用) -->
    <queries>
        <!-- 允許撥打電話 (建議加入 action.DIAL 比較保險) -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>

        <!-- 允許開啟網頁 (https / http) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!-- 允許傳送/處理文字 (Flutter 預設需要) -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <application
        android:label="what_to_eat"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>